.payment-table table {
  width: 100%;
  table-layout: fixed;
  background: white;
  direction: rtl;
}

.payment-table thead {
  background: #c5d5fa;
}

.payment-table thead th {
  text-align: right;
  font-weight: bold;
}

.payment-table thead th.cost {
  white-space: nowrap;
}

.payment-table thead th.cost.table-only {
  width: 10%;
}

.payment-table thead th.cost.table-pdf-preview-split {
  width: 15%;
}

.payment-table thead th.description.table-only {
  width: 60%;
}

.payment-table thead th.description.table-pdf-preview-split {
  width: 30%;
}

.payment-table tr {
  height: 4rem;
}

.payment-table .cell-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.payment-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.payment-table thead th,
.payment-table tbody td {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle; /* or top if you want the content aligned to the top */
}

.payment-table .amount-cell {
  white-space: nowrap;
  width: fit-content;
}

.payment-table small {
  color: #777;
  font-size: 0.75rem;
}

.status-icon {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons {
  font-size: 1rem;
}
.table-inner-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.selected-receipt-row {
  transform: scaleX(1.05);
  transform-origin: right;
}

tr.selected-receipt-row small,
tr.selected-receipt-row section,
tr.selected-receipt-row td {
  color: white;
}

tr.selected-receipt-row td {
  background-color: #3b73ee;
}

tr.selected-receipt-row td:last-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

tr.selected-receipt-row .next-arrow-container {
  display: none;
}
