@if(this.totalPages().length > 0){
<section class="pdf-swiper-container">
  <swiper-container slides-per-view="1" pagination="true" dir="rtl">
    @for (currentPage of this.totalPages(); track currentPage) {
    <swiper-slide>
      <div class="pdf-viewer-container">
        <pdf-viewer [src]="this.pdfPath()" (after-load-complete)="onPdfLoadComplete($event)" [render-text]="true"
          [show-all]="false" [original-size]="true" [page]="currentPage">
        </pdf-viewer>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</section>
} @else {
<p>Empty PDF</p>
}