section.search-bar-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 35px;
  padding: 0 20px;
  height: 100%;
  justify-content: flex-start;
  background-color: white;
}

section.date-picker-section,
section.search-query-section {
  display: flex;
  align-items: center;
  gap: 5%;
  padding: 15px 30px;
  border: 2px solid black;
  border-radius: 25px;
  direction: rtl;
}

section.date-picker-section {
  width: 40%;
  justify-content: flex-start;
  flex-direction: row;
}
section.search-query-section {
  width: 50%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

input.search-query,
input.date-picker {
  border: none;
}

input.search-query:focus,
input.date-picker:focus {
  outline: none;
}
