@if(this.totalPages().length > 0){
  
  <swiper-container slides-per-view="1" pagination="true" dir="rtl">
    @for (currentPage of this.totalPages(); track currentPage) {
      <swiper-slide>
      <pdf-viewer
        [src]="'assets/sample.pdf'"
        (after-load-complete)="onPdfLoadComplete($event)"
        [render-text]="true"
        [show-all]="false"
        [original-size]="false"
        [autoresize]="true"
        [page]="currentPage"
      >
      </pdf-viewer>
    </swiper-slide>
    }
  </swiper-container>
}
@else {
  <p>
    Empty PDF
  </p>
}
