.app-container{
    background-color: #e5e9f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:0 20px;
    margin-top: -35px;
    flex-grow:1;
}
.receipts-display-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: 75vh;
}

section.header-background-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 10vh;
    background-color: #3b73ee;
    padding: 10px;
}


.app-overlay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    gap: 5vw;
}
.app-overlay-left-inner-section, .app-overlay-right-section {
    box-shadow: 0 4px 2px -2px gray;
  -moz-box-shadow: 0 4px 4px gray;
  -webkit-box-shadow: 0 4px 4px gray;
}
.view-mode-container{
    background-color: #e5e9f2;
    padding:5px;
}

.app-overlay-left-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    flex-grow:5;
}
.app-overlay-right-section{
    flex-grow:3;
}
.app-overlay-right-section, .search-bar-container, .app-table-container{
    background-color: white;
}

.search-bar-container{
    flex-grow:1;
}
.app-swiper-container{
    width: 45vw;
}
