<!-- @if(this.receiptsViewMode() === 'table-only'){
<app-payment-table [viewMode]="this.receiptsViewMode()"></app-payment-table>
} @else {
<div class="receipts-display-container">
  <app-payment-table [viewMode]="this.receiptsViewMode()"></app-payment-table>
  <app-pdf-swiper />
</div>
} -->


<div class="app-container">
  <header>
    <section class="header-background-section">
      <img src="../assets/login.svg" alt="login icon" width="60px" height="60px">
      <img src="../assets/Keshet-icon.png" alt="Keshet-icon" width="60px" height="60px">
    </section>
  </header>

  <body>
    <div class="app-overlay-wrapper">
      <section class="app-overlay">
        <section class="app-overlay-left-section">
          <div class="app-overlay-left-inner-section view-mode-container">
            <app-view-mode (view-mode-change)="onViewModeChanged($event)"></app-view-mode>
          </div>
          <div class="app-overlay-left-inner-section search-bar-container">
            <app-search-bar></app-search-bar>
          </div>
        </section>
        <section class="app-overlay-right-section">
          <app-payment-status-summary></app-payment-status-summary>
        </section>
      </section>
    </div>
    <main>

    </main>
  </body>
</div>